<?xml version="1.0"?>
<launch>

  <include file="$(find single_arm_v11)/single_arm_v11_control/launch/single_arm_control.launch" />
  
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find single_arm_v11)/single_arm_v11_worlds/world/single_arm_v11.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Convert an xacro and put on parameter server -->
  <arg name="urdf_file" default="$(find single_arm_v11)/single_arm_v11_description/urdf/single_arm_v11.xacro"/>
  <param name="robot_description" command="xacro $(arg urdf_file)"/>

  <!-- Spawn a robot into Gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model single_arm_v11 -param robot_description" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

</launch>